
#SITEGUARD_PLUGIN_SETTINGS_START
#==== SITEGUARD_DISABLE_XMLRPC_SETTINGS_START
<Files xmlrpc.php>
    Order allow,deny
    Deny from all 
</Files>
#==== SITEGUARD_DISABLE_XMLRPC_SETTINGS_END
#SITEGUARD_PLUGIN_SETTINGS_END

# BEGIN WordPress
# END WordPress

