// Full page Layout
html {
  height: 100%; // Button overrides

  .btn {
    text-transform: uppercase;
    font-size: .9em;
    font-weight: $font-weight-bold;

    &.btn-lg {
      border-width: 2px;
    }
  }

  * {
    text-rendering: unset;
  }
}

body {
  height: 100%;
  font-size: 14px;

  #app {
    height: auto !important;
    min-height: 100%;
    overflow-x: initial;

    .site-wrapper {
      display: flex;
      flex-direction: column;

      main {
        flex-grow: 1;
      }

      &.full-height {
        height: 100vh;
      }
    }
  }
}

.top {
  transition: all .5s linear;
  position: relative;
  z-index: 6;
  width: 100%;

  i.fa {
    color: $primary;
    padding: 0 .5rem;
  }

  .topnav {
    padding: 0;
  }

  .logo {
    display: block;
    padding: 1rem 1.5rem;

    @media (min-width: 1240px) {
      margin: 2rem 0 0 0;
      padding: 0 .5rem;
    }
  }

  .container {
    width: 100%;
    flex-wrap: wrap;

    .row {
      width: 100%;
    }
  }

  .mini-navigation {
    padding: 1rem 0 0;

    @media (min-width: 768px) {
      padding: 1rem 0;
      border-bottom: 1px solid #ddd;
    }

    .navbar-nav {
      li {
        color: #999;
        padding: 0 20px 0 0;

        a {
          color: #999;
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    p {
      color: #999;
      margin: 0;
    }
  }

  .main-navigation {
    padding: 1.25rem 0 0;

    .navbar-nav .nav-item {
      padding: 1rem;

      a {
        font-family: $playfair;
        text-transform: uppercase;
        font-weight: 700;
        color: $dark;
        padding: 2rem 0 1;

        &:hover {
          color: $primary;
        }
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.mobile-menu-open,
.scrolling {
  .top {
    background-color: #FFF;

    @media (min-width: 768px) {
      position: fixed;
      box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
    }

    .logo {
      margin: 0;
      padding: 1.5rem .5rem;

      img {
        height: 50px;
      }
    }

    .mini-navigation {
      padding: .5rem 0;
    }

    .main-navigation {
      padding: .25rem 0 0;
    }
  }
}

// Body Content
main {
  position: relative;
  background: transparent;

  .mast {
    height: 300px;
    background: url('/themes/wordplate/assets/images/mast.jpg') center no-repeat;
    background-size: cover;

    @media (min-width: 576px) {
      height: 400px;
    }

    @media (min-width: 768px) {
      height: 550px;
    }

    @media (min-width: 992px) {
      height: 700px;
    }

    @media (min-width: 1270px) {
      height: 830px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .centered {
    padding: 0 1rem 1rem;

    @media (min-width: 992px) {
      padding: 0 1rem 5rem;
    }

    .maintext {
      color: #dfb57b;
      text-transform: uppercase;
      font-family: sans-serif;
      font-weight: 600;
      font-size: 3em;
      font-family: $playfair;
      text-shadow: 0 0 15px rgba(0, 0, 0, .5);
      margin: 0;

      @media (min-width: 576px) {
        font-size: 4.5em;
      }

      @media (min-width: 768px) {
        font-size: 7em;
      }

      @media (min-width: 992px) {
        font-size: 9em;
      }

      @media (min-width: 1270px) {
        font-size: 11em;
      }
    }

    p.supporttext {
      color: white;
      line-height: 1.5em;
      max-width: 100% !important;
      margin: auto;

      @media (min-width: 768px) {
        font-size: 1.4em;
        width: 710px;
      }
    }
  }

  article {
    padding: 2rem 1rem 1rem;
    text-align: left;
    background-color: #FFF;

    @media (min-width: 576px) {
      text-align: justify;
    }

    header {
      margin-bottom: 1rem;
    }

    h1 {
      color: $primary;
      font-family: $playfair;
      font-weight: 600;
      font-size: 3em;
    }

    p,
    ul,
    ol {
      line-height: 1.8em;
      font-family: $poppins;
      font-weight: 300;
    }

    h2 {
      margin-top: 3rem;
      margin-bottom: 1rem;
      color: $dark;
      font-weight: 400;
      text-transform: capitalize;

      &::after {
        content: none;
        background-color: $secondary;
      }
    }
  }
}

.section-button {
  padding: 0 1rem 3rem;

  @media (min-width: 576px) {
    padding: 0 1rem 4rem;
  }

  @media (min-width: 768px) {
    padding: 1rem 1rem 5rem;
  }
}

//About section
#about {

  .content-image {
    padding: 0 1.75rem;

    img {
      width: 90%;
      margin: 10% 0 0 10%;
      position: relative;
      z-index: 1;
    }

    &::before {
      content: "";
      height: 0;
      width: calc(90% - 3.5rem);
      padding-bottom: 100%;
      position: absolute;
      background: url('/themes/wordplate/assets/images/texture.png') no-repeat;
      background-size: 100% auto;
      z-index: 0;
    }
  }

}

// Card Section
.card-section {
  background-image: url('/themes/wordplate/assets/images/redbackground.png');
  background-size: cover;
  padding: 4rem 0;

  .card {
    border-radius: 11px;
    height: 100%;
    overflow: hidden;
    border-width: 0;
    box-shadow: 0 0 5px rgba(0,0,0,.4);

    h2 {
      font-family: $playfair;
      font-size: 2em;
      font-weight: 300;
      margin: 1rem 0;
    }

    p {
      font-family: $poppins;
      font-size: 16px;
      font-weight: 300;
      padding: .5rem;

      @media (min-width: 768px) {
        font-size: 18px;
      }
    }
  }

  .card-image-container {
    overflow: hidden;
    height: 0;
    padding-bottom: 98%;
    text-align: left;
    position: relative;
    border-radius: 11px 11px 0 0;
    z-index: 1;
    border:none;
    background-color: $dark;

    img {
      display: block;
      position: absolute;
    }
  }

  .bump {
    position: relative;
    z-index: 2;
    margin-top: -19px;
  }

  .card-one {
    padding: 2rem 0 0 2rem;
  }

  .vbottom {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
  }

  h1 {
    padding: 2rem;
  }
}


// Map Section
.background-img {
  padding: 1rem 0 2rem;

  @media (min-width: 768px) {
    padding: 0;
    height: 550px;
    background: url('/themes/wordplate/assets/images/vectormap.jpg') no-repeat #cba877;
    background-size: auto 100%;
    background-position-x: center;

    .row, .nopad {
      height: 100%;
      padding: 0;
    }
  }

  @media (min-width: 992px) {
    height: 850px;
    background-position-x: -15rem;
  }

  @media (min-width: 1400px) {
    background-position-x: -10rem;
  }

  @media (min-width: 1750px) {
    background-position-x: 0rem;
  }

  

  .building-photo {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    

    img {
      width: 200px;
      margin: 1rem;

      @media (min-width: 768px) {
        position: absolute;
        width: 250px;
        margin-top: 8rem;
      }

      @media (min-width: 992px) {
        width: auto;
        margin-top: 13rem;
      }
    }

    
  }

  iframe {
    position: relative;
    z-index: 1;
    min-height: 350px;

    @media (max-width: 767px){
      border: 3px solid #d2a568 !important;
      border-radius: .5rem;
    }
  }
}

.feature-box-section {
  @media (min-width: 576px) {
    padding: 2rem 1rem;
  }

  .feature-box {
    padding: 2rem;

    @media (min-width: 768px) {
      padding: 3rem;
    }

    &.feat-one {
      background-color: white;
    }

    &.feat-two {
      background-color: $secondary;
    }

    h2,
    h3 {
      margin-bottom: 1rem;

      @media (min-width: 768px) {
        margin-bottom: 2rem;
        font-size: 2em;
      }

      @media (min-width: 992px) {
        font-size: 2.4em;
      }
    }

    p {
      margin-bottom: 1rem;

      @media (min-width: 768px) {
        margin-bottom: 2rem;
      }
    }
  }

  .box-container {
    padding: 0;

    @media (min-width: 576px) {
      padding: 1rem 2rem;
    }

    @media (min-width: 768px) {
      padding: 3rem 2rem;
    }
  }
}

article h2,
.short-underline {
  text-transform: uppercase;

  &::after {
    content: " ";
    display: block;
    width: 24px;
    height: 3px;
    background-color: #FFF;
    margin: 5px 0;
  }
}

// Team
.team-grid {
  padding: 0;

  .team-member {
    margin: .5rem 0;
  }

  .member-button {
    margin-top: -2rem;
    position: relative;
    margin-bottom: 2rem;

    .btn {
      background-color: #FFF;
    }
  }
}

// Testimonials
.testimonials {
  .testimonial {
    padding-top: 2.75rem;

    &.list {
      padding-bottom: 2rem;
      border-bottom: 1px solid $light;
    }

    &:last-child {
      border: none;
    }

    &.single .author,
    .testimonial-date {
      color: $light;
      text-transform: uppercase;
    }

    &.single {
      padding-top: 3.5rem;

      p {
        font-weight: 600;
        line-height: 1.8em;
      }

      .author {
        padding: 1.5rem 0 1rem;
        font-size: .9em;
        font-weight: 400;
      }
    }
  }
}

// Footer
footer {
  background-image: url('/themes/wordplate/assets/images/footer-texture.png');
  background-size: cover;
  width: 100%;

  i.fa {
    color: $secondary;
    padding: 0 .5rem;
  }

  a {
    color: #FFF;

    &:hover {
      text-decoration: underline;
      color: #FFF;
    }
  }

  h4 {
    margin: 33px;
    color: #FFF;
    font-family: $playfair;
    font-weight: 100;
    font-size: 24px;
    letter-spacing: 2px;
    padding-bottom: 30px;
  }


  p {
    font-weight: 100;
    color: #FFF;
    font-family: $poppins;
  }

  .footer-menu {
    margin: 0;
    padding: 1rem 0;

    .nav-item {
      list-style: none;
      margin: 1.25rem 0;

      a {
        font-weight: 600;
        font-size: 14px;
        padding: 10px 0;
        text-transform: uppercase;
        display: inline-block;
        border-bottom: 1px solid transparent;
        transition: border-color .5s linear;

        &:hover {
          color: #FFF;
          border-color: rgba(255, 255, 255, .5);
        }
      }
    }
  }

  .footer-content {
    padding: 2rem 0;
  }

  .footer-logo {
    margin: 2rem 1rem 2rem 2rem;
  }

  .social-icons {
    margin: 0 -.25rem;

    svg {
      path: {
        fill: transparent !important;
        stroke: #FFF !important;
        stroke-width: 2px;
      }
    }
  }

  .copyright {
    color: #FFF;
    background-color: $primary;
    font-size: 12px;
    margin: 0;
    padding: 1rem;
    line-height: 1.5rem;
  }

  hr {
    border-color: #555;
  }

  .siteby {
    display: inline-block;
    padding: 0 1rem;
  }
}

.container-padding {
  margin-top: 4rem;
  margin-bottom: 4rem;
}



.cheers {
  background-color: #fff;
  background-size: cover;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 576px) {
    padding: 2rem 0;
  }

  @media (min-width: 768px) {
    padding: 4rem 0;
  }

  @media (min-width: 992px) {
    padding: 6rem 0;
  }

  @media (min-width: 1270px) {
    padding: 8rem 0;
  }

  .cheersText {
    padding: 1rem;

    p {
      font-weight: 300;
      padding: .5rem .75rem;

      @media (min-width: 992px) {
        font-size: 20px;
      }
    }

    h1 {
      font-family: sans-serif;
      font-size: 22px;
      font-family: $playfair;

      @media (min-width: 576px) {
        font-size: 35.5px;
      }

      @media (min-width: 768px) {
        font-size: 38px;
      }

      @media (min-width: 992px) {
        font-size: 40px;
      }

      @media (min-width: 1270px) {
        font-size: 42px;
      }

      .titlemark {
        padding: 0 .75rem 0 0;
        margin: -.75rem 0 0 -.5rem;
      }
    }
  }
}

.services {
  h1 {
    font-family: $playfair;
    color: $primary;
    font-weight: 400;
    font-size: 3em;
  }
}

#gallery {
  position: relative;
  z-index: 2;
  box-shadow: 0 0 2rem rgba(0, 0, 0, .5);
}
